<h1><%= @products.name %></h1>

<p><%= @products.description %></p>

<p><%= @products.seller %></p>

<p><%= @products.price %></p>


<ul>
  <li><%= link_to "Edit", edit_product_path(@products) %></li>
</ul>



